<!DOCTYPE html>

<html lang="en" id="doc">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D3 Visualization</title>

        <!-- Define css class styles here on top of our css file 'styles.css' -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/figures.css' %}"> -->

        <meta name="description" content="">
        <meta name="author" content="Natacha">

    </head>

    <body>
        <h1>Welcome</h1>
        <ul>
            <!-- <li> <a href="http://127.0.0.1:8080/mjo">Visualizing MJO </a> </li> -->
            <li> Visualizing MJO </li>
        </ul>
    </body>
</html>
