<!DOCTYPE html>

{% load static %}

<html lang="en" id="doc">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D3 Visualization - {{ app }}</title>

        <!-- Define css class styles here on top of our css file 'styles.css' -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/figures.css' %}">

        <meta name="description" content=" {{ app }}">
        <meta name="author" content="Natacha">

    </head>

    <body>

        <h1>Welcome</h1>

        <ul>
            <li> <a href="mjo/">MJO Visualization</a> </li>
            <li> <a href="mjo/param/">MJO Visualization (sandbox to find the most relevant clustering parameterization)</a> </li>
        </ul>
    </body>
</html>
