*__pycache__
*_cache
*.vscode
*node_modules*
package.json
package-lock.json
# no generated data
data/generated/*
# no backup files
*~*
# no ipynb checkpoints
*.ipynb_checkpoints*
# no personal notes on code
*/notes*
notes_for_developers.md
# no generated html files
*/docs/build*
# no tmp files
*/tmp/*

# --- Django ----
graphapp/static*
