<div class="select_group">
    <h4>{{ option_title }}:</h4>
    <label for={{ option_name }}></label>
    <select name={{ option_name }} id={{ option_name }} onchange="selectOption()">
        {% for o in options %}
            {% if option == o %}
                <option value="{{ o }}" selected class="option-selected">{{ o }}</option>
            {% else %}
                <option value="{{ o }}" class="option">{{ o }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

