<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D3 Visualization - {{ app }}</title>

        <!-- Define css class styles here on top of our css file 'styles.css' -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/figures.css' %}">

        <meta name="description" content=" {{ app }}">
        <meta name="author" content="Natacha">

    </head>

    <body>
        <!-- <script> tag is used to embed a client-side script (JavaScript). -->
        <!-- D3 libraries -->

        {% block libraries %}
            <script src="https://cdn.jsdelivr.net/npm/d3-path@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-shape@3"></script>
            <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

            <!-- jQuery libraries -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% endblock libraries %}

        {% block imports %}
        {% endblock imports %}

        <!-- Important js variables -->
        {% block js_variables %}

            <!-- Computed directly from template (using json_script) -->
            {{ filename|json_script:"filename" }}
            <script id="main-script" path_script = "{% static '' %}">
                // Make the current filename accessible to javascript
                const f = JSON.parse(document.getElementById('filename').textContent);
            </script>

            <!-- Computed from js modules (using globalThis) -->
            <script id="local_variables" type="module">
                import {DIMS_mjo, DIMS_meteogram_with_k} from "{% static './figures.js' %}";
                globalThis.dims_mjo = DIMS_mjo;
                globalThis.dims_meteogram = DIMS_meteogram_with_k;
            </script>
        {% endblock js_variables %}


        <!-- Title with current filename -->
        {% block title %}
            {% if filename %}
                <h1>{{ filename }}</h1>
            {% endif %}
        {% endblock title %}

        <!-- Content -->
        {% block content %}
        {% endblock content %}

    </body>
</html>
