{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- buttons -->
    <script type="module">
        import {clearSelection, selectOption} from "{% static './interact.js' %}";
        import {redraw_relevant_graph} from "{% static './plots.js' %}";
        import {add_legend} from "{% static './figures.js' %}"
        globalThis.clearSelection = clearSelection;
        globalThis.selectOption = selectOption;
        globalThis.redraw_relevant_graph = redraw_relevant_graph;
        globalThis.add_legend = add_legend;
    </script>

    {% with "files" as option_name %}
    {% with filenames as options %}
    {% with filename as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "methods" as option_name %}
    {% with methods as options %}
    {% with method as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "scores" as option_name %}
    {% with scores as options %}
    {% with score as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    <div id="all-plots">
        {% include "plots.html" %}
    </div>

    <div id="legend" class="legend" style="top:20px">
        Legend <br>
        number of clusters:
        <script type="module">
            add_legend();
        </script>
    </div>

    <div class="button" onclick="clearSelection()" style="top:180px">Clear selection</div>
    <div class="button" onclick="redraw_relevant_graph()" style="top:250px">Default k values</div>
    <div class="slider-container"  style="top:350px">
        <div class="slider-value"> 36 </div>
        <input
            type="range" class="slider-range" id="windows"  onchange="selectOption()"
            step="1" value="1" min="1" max="50"
        >

    </div>

    <div>
        <input
            type="range"
            step="1" value="1" min="1" max="50"
        >
    </div>



{% endblock content %}