{% extends "base.html" %}

{% load static %}

{% block content %}

    {% with "members" as data_type %}
    {% with "Spaghetti plot" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "entire_graph" as data_type %}
    {% with "Entire graph" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "life_span" as data_type %}
    {% with "Life span" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "relevant_graph" as data_type %}
    {% with "Relevant components" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    <!-- Clear button -->
    <script type="module">
        import {clearSelection} from "{% static './interact.js' %}";
        globalThis.clearSelection = clearSelection;
    </script>

    <div class="clear-selection-button" onclick="clearSelection()">Clear Selection</div>
    <div class="-button" onclick="clearSelection()">Clear Selection</div>


{% endblock content %}