{% block plots %}

    {% with "files" as option_name %}
    {% with filenames as options %}
    {% with filename as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "methods" as option_name %}
    {% with methods as options %}
    {% with method as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "scores" as option_name %}
    {% with scores as options %}
    {% with score as option %}
    {% include "select.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    <!-- Title with current filename -->
    {% comment %}
    {% block title %}
        <h1>{{ filename }}</h1>
    {% endblock title %}
    {% endcomment %}

    {% with "members" as data_type %}
    {% with "Spaghetti plot" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "entire_graph" as data_type %}
    {% with "Entire graph" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "life_span" as data_type %}
    {% with "Life span" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "relevant_graph" as data_type %}
    {% with "Relevant components" as plot_title %}
    {% include "plot_group.html" %}
    {% endwith %}
    {% endwith %}

{% endblock plots %}