{% load static %}

<script id="{{ data_type }}-script" type="module">
    import {draw_{{ data_type }}} from "{% static './plots.js' %}";

    await draw_{{ data_type }}(
        "{{ filename }}" ,
        { dims : dims_mjo, parent : "#{{ data_type }}-figs", plot_type : "mjo",
        method : "{{ method }}", score : "{{ score }}",
    });
    await draw_{{ data_type }}(
        "{{ filename }}" ,
        {
            dims : dims_meteogram, parent : "#{{ data_type }}-figs", plot_type : "meteogram",
            method : "{{ method }}", score : "{{ score }}",
        });
</script>
