:root {
    --main-col: #0094bd;
    --col-click: red;
    --col-hover:  rgb(6, 245, 6);
    --lw: 0.5;
    --lw-hover: 3;
    --lw-click: 4;
    --r-hover: 10;
    --r-click: 10;
    --button-col-background: rgb(241, 238, 238);
    --button-col-hover: #bbe6f2;
	--font-small: 17px;
	--font-medium: 25px;
	--font-big: 30px;
    --min-width: 60%;
    --slider-width: 250px;
    --slider-rotate: translate(125px, 125px) rotate(90deg);
}

/* ------- Common style for all elements ------- */
* {
    font-family: Arial, sans-serif;
    font-size: var(--font-medium);
    border-radius: 10px;
    margin: 0px;
}


/* ------- Styles of existing types ------- */
body {
	padding: 5px;
}

h2 {
    padding: 5px;
    font-size: var(--font-big);
	width: auto;
}

h2:hover {
	cursor: pointer;
	background-color: var(--button-col-hover);
}

select {
	font-size: var(--font-medium);
    padding: 5px;
    background-color: var(--button-col-background);
	cursor: pointer;
	border: 5px solid var(--button-col-hover);
	border-radius: 10px;
}

.right-bar {
    position: fixed;
    top:5%;
	right: 20px;
    height: 80%;
    margin: 0px;
    width: 10%;
}
