:root {
    --main-col: #0094bd;
    --col-click: red;
    --col-hover:  rgb(6, 245, 6);
    --lw: 0.5;
    --lw-hover: 3;
    --lw-click: 4;
    --r-hover: 10;
    --r-click: 10;
    --button-col-background: rgb(241, 238, 238);
    --button-col-hover: #bbe6f2;
	--font-small: 17px;
	--font-medium: 25px;
	--font-big: 30px;
}

/* ------- Common style for all elements ------- */
* {
    font-family: Arial, sans-serif;
    border-radius: 10px;
}


/* ------- Styles of existing types ------- */
body {
	margin: 0;
	padding: 40px;
}

h2 {
	width: 60%;
}

h2:hover {
	cursor: pointer;
	background-color: var(--button-col-hover);
	padding: 10px;
}

select{
	font-size: var(--font-medium);
    padding: 5px;
    background-color: var(--button-col-background);
	cursor: pointer;
	border: 5px solid var(--button-col-hover);
	border-radius: 10px;
}

