@import url("base.css");



/* ------- Styles of custom classes ------- */


/* ------- Styles of existing types with specific id ------- */

/* ------- Styles of existing types with specific class ------- */

.right-bar-elem {
	float: right;
	text-align: right;
	margin: 5px;
	width: 100%;
}

.button-container {
	width: 60%;
}

.button {
    font-size: var(--font-medium);
	cursor: pointer;
	border: var(--border-style);
	padding: 0px;
	margin: 0px;
	text-align: center;
	width: 100%;
    background-color: var(--button-col-background);
}

.button:hover {
    background-color: var(--button-col-hover);
}

.option-selected {
	font-weight: normal;
}

/* container that will contain the "<input type="range"> tag  */
/* as well as the text value */
/* this has nothing to do with the "<input type="range"> tag  */
.slider-container{
	margin: 0px;
	padding: 0px;
}

/* style to associate with a regular div, where we write text */
/* this has nothing to do with the "<input type="range"> tag  */
.slider-value{
	/* position: relative; */
    font-size: var(--font-medium);
	text-align: right;
	/* padding: 10px; */
	overflow-wrap: break-word;
	/* text-align: center;
	top: 50%; */
}

.vertical-slider-value{
	right: 20px;
	overflow-wrap: break-word;
}

/* style to associate with the "<input type="range"> tag */
/* here we mostly style the "range" area, i.e. the bar   */
/* to style the handle, see below                        */
.slider-range{
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	position: relative;
	/* Dimensions of the range bar */
	width : var(--slider-width);
	height : 5px;
	margin: 0px;
	cursor: pointer;
	/* Background color of the "range" area, i.e. the bar */
	background-color:var(--button-col-background);
}

.vertical-slider-range{
	/* to get a vertical slider. the X,Y translation  */
	/* corresponds to half of the width of the slider */
	/* because it rotates from the center...          */
	transform: var(--slider-rotate);
    -moz-transform: var(--slider-rotate);
}

/* The slider handle (
	to override default look: use
		-webkit- (Chrome, Opera, Safari, Edge)
		-moz- (Firefox)
*/
.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	border-radius: 8px;
	/* Dimensions of the handle */
	width: 15px;
	height: 15px;
	background: var(--button-col-hover);
}

.slider-range::-moz-range-thumb {
	border-radius: 8px;
	width: 15px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	background: var(--button-col-hover);
}

.select_group {
	width:fit-content;
	margin: 5px;
	display: inline-block;
    position: relative;
}

.fig_group {
    border: var(--border-style);
	width:fit-content;
	min-width: var(--min-width);
	padding: 10px;
	margin: 5px;
}

.legend{
    font-size: var(--font-medium);
	text-align: right;
}

.legendK {
    font-size: var(--font-medium);
	text-align: right;
}

/* ------- Styles of specific id ------- */




