@import url("base.css");



/* ------- Styles of custom classes ------- */


/* ------- Styles of existing types with specific id ------- */

/* ------- Styles of existing types with specific class ------- */

.h2-plot {
	display: inline-block;
	width: 80%;
}

.h2-plot:hover {
	cursor: pointer;
	background-color: var(--button-col-hover);
}

.right-bar {
    position: fixed;
    top:5%;
	right: 20px;
    height: 80%;
    margin: 0px;
    width: 250px;
    max-width: 15%;
}

.right-bar-elem {
	float: right;
	text-align: right;
	margin: 5px;
	width: 100%;
}



.option-selected {
	font-weight: normal;
}

.select_group {
	width:fit-content;
	margin: 5px;
	display: inline-block;
    position: relative;
}

.fig_group {
    border: var(--border-style);
	width:fit-content;
	min-width: var(--min-width);
	padding: 3px;
	margin: 3px;
}

.legend{
    font-size: var(--font-medium);
	text-align: right;
}

.legendK {
    font-size: var(--font-medium);
	text-align: right;
}

/* ------- Styles of specific id ------- */

#advanced-settings-container {
	position: absolute;
	right: 40px;
	top: 20px;
	top: 20px;
}

#advanced-settings-button {
	padding: 3px;
	font-size: var(--font-small);
	cursor: pointer;
	border: var(--border-style);
	/* margin: 0px; */
	text-align: center;
    background-color: var(--button-col-background);
}

#advanced-settings-button:hover {
    background-color: var(--button-col-hover);
}
