@import url("base.css");



/* ------- Styles of custom classes ------- */


/* ------- Styles of existing types with specific id ------- */

/* ------- Styles of existing types with specific class ------- */

.h2-plot {
	display: inline-block;
	width: 90%;
}

.h2-plot:hover {
	cursor: pointer;
	background-color: var(--button-col-hover);
}

.right-bar {
    position: fixed;
    top:5%;
	right: 20px;
    height: 80%;
    margin: 0px;
    width: 250px;
    max-width: 15%;
}

.right-bar-elem {
	float: right;
	text-align: right;
	margin: 5px;
	width: 100%;
}

.button-container {
	width: 60%;
}

.button {
    font-size: var(--font-medium);
	cursor: pointer;
	border: var(--border-style);
	padding: 5px;
	margin: 0px;
	text-align: center;
	width: 100%;
    background-color: var(--button-col-background);
}

.button:hover {
    background-color: var(--button-col-hover);
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: var(--button-col-background);
	color: black;
	width:200px;
	text-align: center;
	border-radius: 8px;
	position: absolute;
	padding: 5px 0;
	z-index: 1;
	/* top: -5px; */
	right: 150%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 100%;
	/* All these border properties are only for the arrow */
	border-width: 10px; /* Size of the arrow */
	border-style: solid;
	border-color: transparent transparent transparent rgb(241, 238, 238);
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.option-selected {
	font-weight: normal;
}

/* container that will contain the "<input type="range"> tag  */
/* as well as the text value */
/* this has nothing to do with the "<input type="range"> tag  */
.slider-container{
	margin: 0px;
	padding: 0px;
}

/* style to associate with a regular div, where we write text */
/* this has nothing to do with the "<input type="range"> tag  */


.slider-value .vertical-slider-value {
	overflow-wrap: break-word;
}

.slider-value
{
    font-size: var(--font-medium);
	text-align: right;
}

/* style to associate with the "<input type="range"> tag */
/* here we mostly style the "range" area, i.e. the bar   */
/* to style the handle, see below                        */
.slider-range{
	/* Override default CSS styles */
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	/* Dimensions of the range bar */
	width : var(--slider-width);
	height : 5px;
	margin: 0px;
	cursor: pointer;
	/* Background color of the "range" area, i.e. the bar */
	background-color:var(--button-col-background);
}

.vertical-slider-range{
	/* to get a vertical slider. the X,Y translation  */
	/* corresponds to half of the width of the slider */
	/* because it rotates from the center...          */
	transform: var(--slider-rotate);
    -moz-transform: var(--slider-rotate);
}

/* The slider handle (
	to override default look: use
		-webkit- (Chrome, Opera, Safari, Edge)
		-moz- (Firefox)
*/
.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	border-radius: 8px;
	/* Dimensions of the handle */
	width: 15px;
	height: 15px;
	background: var(--button-col-hover);
}

.slider-range::-moz-range-thumb {
	border-radius: 8px;
	width: 15px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	background: var(--button-col-hover);
}

.select_group {
	width:fit-content;
	margin: 5px;
	display: inline-block;
    position: relative;
}

.fig_group {
    border: var(--border-style);
	width:fit-content;
	min-width: var(--min-width);
	padding: 3px;
	margin: 3px;
}

.legend{
    font-size: var(--font-medium);
	text-align: right;
}

.legendK {
    font-size: var(--font-medium);
	text-align: right;
}

/* ------- Styles of specific id ------- */

#advanced-settings-container {
	position: absolute;
	right: 40px;
	top: 20px;
	top: 20px;
}

#advanced-settings-button {
	padding: 3px;
	font-size: var(--font-small);
	cursor: pointer;
	border: var(--border-style);
	margin: 0px;
	text-align: center;
    background-color: var(--button-col-background);
}

#advanced-settings-button:hover {
    background-color: var(--button-col-hover);
}
