@import url("base.css");

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: var(--button-col-background);
	color: black;
	width:200px;
	text-align: center;
	border-radius: 8px;
	position: absolute;
	padding: 5px 0;
	z-index: 1;
	/* top: -5px; */
	right: 150%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 100%;
	/* All these border properties are only for the arrow */
	border-width: 10px; /* Size of the arrow */
	border-style: solid;
	border-color: transparent transparent transparent rgb(241, 238, 238);
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
