{% extends "mjo/base.html" %}

{% load static %}

{% block content %}

    <!-- buttons -->
    <script type="module">
        import {
            clearSelection, clearStoredSelection,
            selectOption, updateSliderValue, sliderMember,
            toggleTopbar, switchClasses, switchMarkers
        } from "{% static './mjo/interact.js' %}";
        import {redraw_relevant_graph} from "{% static './mjo/plots.js' %}";
        import {add_legend} from "{% static './mjo/figures.js' %}"
        globalThis.clearSelection = clearSelection;
        globalThis.clearStoredSelection = clearStoredSelection;
        globalThis.selectOption = selectOption;
        globalThis.updateSliderValue = updateSliderValue;
        globalThis.sliderMember = sliderMember;
        globalThis.toggleTopbar = toggleTopbar;
        globalThis.switchClasses = switchClasses;
        globalThis.switchMarkers = switchMarkers;
        globalThis.redraw_relevant_graph = redraw_relevant_graph;
        globalThis.add_legend = add_legend;
    </script>

    <div class="top-bar">
        {% include "mjo/topbar.html" %}
    </div>

    <div id="all-plots">
        {% include "mjo/plots.html" %}
    </div>

    <div id="right-bar" class="right-bar">
        {% include "mjo/rightbar.html" %}
    </div>

{% endblock content %}