{% block plots %}

    {% with "members" as data_type %}
    {% with "Spaghetti plot" as plot_title %}
    {% include "mjo/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "entire_graph" as data_type %}
    {% with "Entire graph" as plot_title %}
    {% include "mjo/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "life_span" as data_type %}
    {% with "Life span" as plot_title %}
    {% include "mjo/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "relevant_graph" as data_type %}
    {% with "Relevant components" as plot_title %}
    {% include "mjo/plot_group.html" %}
    {% endwith %}
    {% endwith %}

{% endblock plots %}