
<script id="{{ data_type }}-display">
    // Make a button out of the heading to hide / show the figures
    function show_{{ data_type }}() {
        let e = document.getElementById('{{ data_type }}-figs');
        if (e.style.display === "inline") {
            e.style.display = "none";
        } else {
            e.style.display = "inline";
        }
    }
</script>

<div id="{{ data_type }}-div" class="fig_group">
    <h2 id="{{ data_type }}-title">
        <!-- Title -->
        <div class="h2-plot" onclick="show_{{ data_type }}()">
            {{ plot_title }}
        </div>
        <!-- Switch -->
        {% block switch %}
            {% include "mjo/switch.html" %}
        {% endblock switch %}
    </h2>

    <!-- Generate plots -->
    <div id="{{ data_type }}-figs" style="display:inline">
        {% block script_type %}
            {% include "mjo/script.html" %}
        {% endblock script_type %}
    </div>
</div>