


<div style="float: right">
    {% if data_type != "life_span" %}
    <span class="toggle-text">Time markers</span>
    <label for="{{ data_type }}-switch-marker" class="toggle">
        <input
            id="{{ data_type }}-switch-marker" class="input-toggle" type="checkbox"
            onclick="switchMarkers('{{ data_type }}')"
            >
        <span class="switch"></span>
    </label>
    {% endif %}
    {% if data_type == "members" %}
        <span class="toggle-text">Thick lines</span>
        <label for="{{ data_type }}-switch-thick" class="toggle">
            <input
                id="{{ data_type }}-switch-thick" class="input-toggle" type="checkbox"
                onclick="switchClasses()"
                >
            <span class="switch"></span>
        </label>
    {% else %}
    {% endif %}
</div>
