{% block plots %}

    <!-- Title with current filename -->
    {% comment %}
    {% block title %}
        <h1>{{ filename }}</h1>
    {% endblock title %}
    {% endcomment %}

    {% with "members" as data_type %}
    {% with "Spaghetti plot" as plot_title %}
    {% include "mjo_explore/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "entire_graph" as data_type %}
    {% with "Entire graph" as plot_title %}
    {% include "mjo_explore/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "life_span" as data_type %}
    {% with "Life span" as plot_title %}
    {% include "mjo_explore/plot_group.html" %}
    {% endwith %}
    {% endwith %}

    {% with "relevant_graph" as data_type %}
    {% with "Relevant components" as plot_title %}
    {% include "mjo_explore/plot_group.html" %}
    {% endwith %}
    {% endwith %}

{% endblock plots %}