
<script id="{{ data_type }}-display">
    // Make a button out of the heading to hide / show the figures
    function show_{{ data_type }}() {
        let e = document.getElementById('{{ data_type }}-figs');
        if (e.style.display === "inline") {
            e.style.display = "none";
        } else {
            e.style.display = "inline";
        }
    }
</script>


<div id="{{ data_type }}-div" class="fig_group">
    <h2 id="{{ data_type }}-title" onclick="show_{{ data_type }}()">{{ plot_title }}</h2>

    <div id="{{ data_type }}-figs" style="display:inline">
        {% block script_type %}
            {% include "mjo_explore/script.html" %}
        {% endblock script_type %}
    </div>
</div>