{% load static %}

<script id="{{ data_type }}-script" async=false defer=false type="module">
    import {draw_{{ data_type }}} from "{% static './mjo_explore/plots.js' %}";

    let options = {
        method : "{{ method }}", score : "{{ score }}",
        drepresentation : "{{ drepresentation }}",
        time_window : "{{ time_window }}",
    };

    {% if data_type == "life_span" %}

        await draw_{{ data_type }}(
            "{{ filename }}" , {
                dims : dims_meteogram, parent : "#{{ data_type }}-figs",
                options : options,
            });

    {% else %}
        let plot_type = "mjo";

        await draw_{{ data_type }}(
            "{{ filename }}" ,
            {
                id : "{{ data_type }}_"+plot_type,
                dims : dims_mjo, parent : "#{{ data_type }}-figs",
                plot_type : plot_type, options : options,
            }
        );

        plot_type = "meteogram";
        await draw_{{ data_type }}(
            "{{ filename }}" ,
            {
                id : "{{ data_type }}_"+plot_type,
                dims : dims_meteogram, parent : "#{{ data_type }}-figs",
                plot_type : plot_type, options : options,
            });

    {% endif %}

</script>